@charset "utf8";
/*防止出現亂碼*/
/*
*page name
copyright 2022
author
*licensed
*/
/*-----------------------*\
	content
\*-----------------------*/
/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 * Utility...............Set some tools style
 */

/*-----------------------*\
	Globel
\*-----------------------*/

*{
	box-sizing: border-box;
	position: relative;

}

html,body{
	font-family: ’微軟正黑體‘, arial;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none
}

a{
	text-decoration: none;
	color: #333;
}

/*-----------------------*\
	Layout
\*-----------------------*/


.container{
	max-width: 1140px;
	width: 100%;
	/*border: 1px solid #000;*/
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;

	/*border: 1px solid pink;*/
}

.row{
	/*border: 1px solid blue;*/
	margin-left: -16px ;
	margin-right: -16px;
}

.row:after{
	content: '';
	display: block;
	clear: both;
}

.row-collapse{
	margin-left: 0;
	margin-right: 0;

}

.com-lg-2,.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-12,
.com-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-12,
.com-sm-2,.col-sm-3,.col-sm-4,.col-sm-6,.col-sm-12{
	float: left;	
	/* border: 1px solid red; */
	padding-left: 16px;
	padding-right: 16px;
	}
	.col-lg-2{
		width: 16.66666%;
	}	
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33.3333%;
	}
	.col-lg-6{
		width:50%;
	}
	.col-lg-12{
		width:100%;
	}



@media screen and (max-width: 768px){

	.col-md-2{
		width: 16.66666%;
	}	
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.3333%;
	}
	.col-md-6{
		width:50%;
	}
	.col-md-12{
		width:100%;
	}
}


@media screen and (max-width: 540px){
	.col-sm-2{
		width: 16.66666%;
	}	
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.3333%;
	}
	.col-sm-6{
		width:50%;
	}
	.col-sm-12{
		width:100%;
	}
}



/*-----------------------*\
	component
\*-----------------------*/

/*jumbotron btn*/

.btn{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 24px;
	border-radius: 4px;
	color: #fff;
	border: 1px solid #fff;
	padding: 4px 16px;
	transition: all 0.3s;
}

/*要連著寫*/
/*主要按鈕*/
.btn.btn-primary{
	background-color: #d5a26f;
	/*border: 1px solid #d5a26f;*/
	color: #fff;
}

.btn.btn-primary:hover{
	background-color: #b2826e;
}

/*次要按鈕*/
.btn.btn-secondary{
	border: 1px solid #d5a26f;
	color: #d5a26f;
}

.btn.btn-secondary:hover{
	background-color:#b2826e;
}
.btn.btn-lg2{
	padding: 8px 32px;
}


.btn-group-center{
	/*border: 1px solid #d5a26f;*/
	text-align: center;
}

.btn-group-center .btn{
	margin-left: 12px;
	margin-right: 12px;
}

@media screen and (max-width: 540px){
	.btn-group-center{
		display: flex;
		flex-direction: column;
		/*排版轉向*/
		width: 200px;
		margin: 0 auto;
	}
	.btn-group-center .btn{
		margin-bottom: 24px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.btn-group-center .btn:last-child{
		margin-bottom: 0px;
	
	}

}


/*image-container*/
.image-container{
	width: 100%;
}
.image-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
	/*border: 1px solid #333;*/
}

.image-container .image{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/*jumbotron mask-dark*/
.mask-dark{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.hero{
	padding-top: 200px;
	padding-bottom: 200px;
	/*border: 1px solid #000;*/
}
@media screen and (max-width: 768px){
	.hero{
	padding-top: 80px;
	padding-bottom: 80px;
	}
}

.hero.hero-bg-white{
	background-color: #fefefe;
}

.hero.hero-bg-grey{
	background-color: #efefef;
}




/*navbar*/
.navbar{
	/*border: 1px solid #000;*/
	height: 64px;
	background-color: rgba(0, 0, 0, 0.8);
	/*background-color*/
	position:fixed;
	width: 100%;
	z-index: 999;
	top: 0;
}


.navbar .brand{
	display: inline-block;
	vertical-align: top;
	/*border: 1px solid #000;*/
	width: 160px;
	height: 64px;
	background-image: url("../images/common/logo.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	/*隱藏文字的方法*/
	/*color: #fff;*/
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}



.navbar .nav{
	float: right;

}

.navbar .nav .nav-item{
	float: left;

}

.navbar .nav .nav-link{
	display: block;
	line-height: 24px;
	color: #fff;

	padding: 20px 16px;
	transition: color 0.3s;
}

.navbar .nav .nav-link:hover{
	color: #d5a2a6;
}


@media screen and (max-width: 768px){
	.navbar .nav{

		position: fixed;
		left: 100%;
		top: -50%;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 500;

		display: flex;
		flex-direction: column;
		justify-content: center;

		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
	}
	.navbar .nav .nav-link{
		text-align: center;
		padding: 24px;
		font-size: 24px;

	}
	#popup-menu:target{
		display: flex;
		/*用display做不到淡入淡出*/
		opacity: 1;
		/*非透明度-0看不到;1看到到*/
		visibility: visible;
		/*看得到就點得到*/
		left: 0;
		top: 0;

	}

}

/*menu-toggle*/
.navbar .menu-toggle{
	width: 48px;
	height: 48px;
	/*border: 1px solid #fff;*/
	position: absolute;
	display: inline-block;
	/*float: right;  /*無效*/
	right: 0;
	margin-top: 8px;
	display: none;
}
@media screen and (max-width: 768px){
	.navbar .menu-toggle{
		display: inline-block;
	}
}
.navbar .menu-toggle span{
	display: block;
	width: 32px;
	height: 2px;
	background-color: #d5a35f;
	position: absolute;
	left: 50%;
	position: absolute;
	transform: translate(-50%,0);
}

.navbar .menu-toggle span:nth-child(1){
	top: 12px;
}


.navbar .menu-toggle span:nth-child(2){
	top: 22px;
}


.navbar .menu-toggle span:nth-child(3){
	top: 32px;
}

/*close-btn*/

.navbar .close-btn{
	width: 48px;
	height: 48px;
	position: absolute;
	right: 0;
	top: 0;
	/*border: 1px solid #fff;*/
	display: none;
}
@media screen and (max-width: 768px){
	.nav .close-btn{
		display: block;
	}
}


.navbar .close-btn span{
	width: 40px;
	height: 2px;
	position: absolute;
	background-color: #d5a26f;
	top: 50%;
	left: 50%;
	/*transform: translate(-50%,-50%);*/
	
}

.navbar .close-btn span:nth-child(1){
	transform: translate(-50%,-50%)rotate(45deg) ;
}
.navbar .close-btn span:nth-child(2){
	transform: translate(-50%,-50%)rotate(-45deg) ;
}



/*jumbotron*/
.jumbotron{
	/*height: 800px;*/
	/*border: 1px solid #000;*/
	padding-top: 224px;
	padding-bottom: 160px;
	/*background-color: pink;*/
	/*用padding推出高度*/
	background-image: url('../images/bg/bg001.jpg');
	background-size: cover;
	background-attachment: fixed;
	/*bgat定在視窗*/
}
@media screen and (max-width: 768px){
	.jumbotron{
	padding-top: 144px;
	padding-bottom: 80px;
	}
}

.jumbotron .logo-image{
	/*border: 1px solid #000;*/
	width: 320px;
	height: 320px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

 @media screen and (max-width: 768px){
	.jumbotron .logo-image{
	padding-top: 200px;
	padding-bottom: 200px;
	}
}




/*about-preview*/
 @media screen and (max-width: 768px){
	.about-preview{
	margin-bottom: 48px;
	}

 }

.about-preview .title{ 
	font-size: 32px;
	color: #333;
	margin-top: 80px;
	margin-bottom: 24px;
}
 @media screen and (max-width: 960px){
 	.about-preview .title{ 
	margin-top: 0px;
	}
}

.about-preview .para{
	font-size: 16px;
	line-height: 32px;
	color: #333;
	margin-bottom: 24px;
	text-align: justify;
}


/*section-intro*/
.section-intro{
	text-align: center;
	margin-bottom: 40px;
}
.section-intro .title{ 
	font-size: 48px;
	color: #333;
	margin-bottom: 24px;
}
 @media screen and (max-width: 768px){
	.section-intro .title{
	font-size: 32px; 
	}
 }


.section-intro .para{
	font-size: 16px;
	line-height: 32px;
	color: #333;
	margin-bottom: 24px;
	max-width: 480px;
	margin: 0 auto;
}


/*service-item*/


@media screen and (max-width: 768px){
	.service-item{
		margin-bottom: 48px;
	}
	/*last-child必須作用是在同一層級的物件*/
	/*屬性選擇器*/
	/*^=  查找*/
	[class^="col-"]:last-child .service-item{
		margin-bottom: 0;
	}
}
	

.service-item .preview{
	padding-top: 16px;

}

.service-item .title{
	font-size: 24px;
	color: #333;
	margin-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*單行的字數超出變成刪節號*/
}

.service-item .subtitle{
	font-size: 14px;
	color: #d5a26f;
	margin-bottom: 16px;
}

.service-item .para{
	font-size: 16px;
	color: #333;
	line-height: 24px;
	margin-bottom: 24px;
	height: 48px;
	overflow: hidden;
	text-align: justify;
}


/*RESERVATION*/
.RESERVATION{
	background-image: url('../images/bg/bg002.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.RESERVATION .section-intro .title,
.RESERVATION .section-intro .para{
	color: #fff;
}




/*menu-list*/
.menu-list{
	margin-bottom: 64px;
}

.menu-list:last-child{
	margin-bottom: 0;	
	/*firsi-child,last-child: 此類選擇棄的第一個,最後一個元件*/
}


.menu-list .title-bar{
	/*border: 1px solid #000;*/
	padding: 0 16px;

}
.menu-list .title-bar:after{
	content: '';
	clear: both;
	display: block;
}
.menu-list .title-bar .title:before{
	content: '';
	display: inline-block;
	width: 4px;
	height: 24px;
	background-color: #d5a26f;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
}

.menu-list .title-bar .title{
	display: inline-block;
	font-size: 24px;
	line-height: 40px;
	float: left;	
	padding-left: 16px;
}
.menu-list .title-bar .btn{
	float: right;
	padding-top: 8px;
	padding-bottom: 8px;
}

@media screen and (max-width: 768px){
	.menu-list .list-item{
		margin-bottom: 48px;
	}
	/*	[class^="col-"]:last-child .list-item{
		margin-bottom: 0;
	}*/
}

.menu-list .list-item .image-container:before{
	padding-top: 100%;
}

.menu-list .list-item .title{
	font-size: 18px;
	color: #333;
	line-height: 24px;
	margin-top: 16px;
	margin-bottom: 8px;
}


.menu-list .list-item .subtitle{
	font-size: 14px;
	color: #d5a26f;

}


/*contact-info*/
.contact-info{
	padding-top: 40px;
}

.contact-info .info-item{
	margin-bottom: 16px ;
	
}

.contact-info .info-item .title{
	color: #d5a26f;
	line-height: 36px;
	margin-bottom: 16px;
	/*border-bottom: 2px solid #d5a26f ;*/
}

.contact-info .info-item .title span{
	/*border-bottom: 2px solid #d5a26f ;*/
	display: inline-block;
	/*底線會跟這標題長度變化*/
}

.contact-info .info-item .info{
	line-height: 32px;
	color: #333;
	/*display: block;*/

}

.map-container{
	width: 100%;
	padding-top: 75%;
	/*border: 1px solid #000;*/
}
.map-container iframe{
	position: absolute;
	left: 0;
	top: 0;
}


/*footer*/
.footer{
	background-image: url('../images/bg/bg002.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.footer .brand{
	display: block;
	width: 240px;
	height: 240px;
	margin: 0 auto;
	background-image: url('../images/common/logo-w.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

@media screen and (max-width: 540px){
	.footer .brand{
		width: 200px;
		height: 200px;

	}
}

.footer .nav{
	/*border: 1px solid#fff;*/
	display: flex;
	justify-content: center;
}

.footer .nav .nav-link{
	/*border: 1px solid#fff;*/
	display: block;
	padding: 24px;
	line-height: 24px;
	color: #fff;
	transition: all 0.3s;
}

.footer .nav .nav-link:hover{
	color: #d5a26f;
}

@media screen and (max-width: 540px){
	.footer .nav .nav-link{
		padding: 24px 8px
	}
}


.copyright{
	color: #ccc;
	background-color: rgba(0, 0, 0, 0.8);
	font-weight:200;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	padding: 16px;
}


/* --------------- *\
   Utility
\* --------------- */
.lg-hidden{
	display: none;
}

@media screen and (max-width: 768px){
	.lg-hidden{
		display: block;
	}

	.lg-display{
		display: none;
}




